* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.bkg {
	background-image: url("https://wallpapers.com/images/featured/weather-xqhs9axpy8btfd3y.jpg");
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
}